@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --primary-color: rgb(152, 152, 255);
}

* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    color: white;
}

.big-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.list {
    display: flex;
    flex-flow: column;
}

.list h2 {
    text-align: center;
}

.listVps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.vps {
    width: 330px;
    height: 120px;
    border-radius: 10px;
    border: solid 1px white;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 40px;
}

.vps div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vps div:nth-child(1) img {
    width: 60px;
    height: 60px;
}

.vps .details {
    padding-left: 30px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.vps .details div {
    margin-top: 3px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    width: 110px;
    height: 40px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: unset;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}


.serverName svg {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.serverName svg path {
    fill: white;
}

/*  */
.ToastWrapper
{
   position: absolute;
   bottom: 5%;
   left: 0;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.ToastWrapper .messageContent {
    text-align: center;
    width: fit-content;
    padding: 20px 25px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 3%;
}
